<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Książka adresowa</title>
</head>
<body>
<div>
  <h1>Książka adresowa</h1>
  <ul>
    <li th:each="entry : ${entries}">
      <div><strong>Kontakt</strong></div>
      <div>imię: <span th:text="${entry.firstName}"/></div>
      <div>nr tel: <span th:text="${entry.phoneNumber}"/></div>
    </li>
  </ul>
</div>
<form method="POST" th:action="@{/phonebook}" th:object="${form}">
  <h1>Dodaj kontakt</h1>
  <div>
    <label>Imię <input type="text" th:field="*{firstName}" value="default name"></label>
    <!--<span th:if="${firstNameError}">[[${firstNameError}]]</span>-->
    <span th:if="${#fields.hasErrors('firstName')}" th:text="${#fields.errors('firstName')[0]}"/>
    <!--
    <ul th:if="${#fields.hasErrors('firstName')}">
      <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Input is incorrect</li>
    </ul>
    -->
  </div>
  <div>
    <label>Nr tel. <input type="text" th:field="*{phoneNumber}"></label>
    <!--<span th:if="${phoneNumberError}" th:text="${phoneNumberError}"></span>-->
    <span th:if="${#fields.hasErrors('phoneNumber')}" th:text="${#fields.errors('phoneNumber')[0]}"/>
  </div>
  <div>
    <button type="submit">Dodaj</button>
  </div>
</form>
</body>
</html>
