<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
</head>
<body>
<div>
  <h1>Książka adresowa</h1>
  <ul>
    <li th:each="entry : ${entries}">
      <div><strong>Kontakt</strong></div>
      <div>imię: <span th:text="${entry.firstName}"/></div>
      <div>nr tel: <span th:text="${entry.phoneNumber}"/></div>
    </li>
  </ul>
</div>
<form method="POST" action="" th:object="${form}">
  <h1>Dodaj kontakt</h1>
  <div>
    <label>Imię <input type="text" name="firstName" value="default name"></label>
  </div>
  <div>
    <label>Nr tel. <input type="text" name="phoneNumber"></label>
  </div>
  <div>
    <button>Dodaj</button>
  </div>
</form>
</body>
</html>
