<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
</head>
<body>
<div>
  <h1>Quiz kompetencyjny</h1>
  <ul>
    <li>
      <strong>Pytanie 1.</strong>
      <span>Jak nazywa się xyz wspak?</span>
      <ol type="a">
        <li><label><input name="q1" type="radio">xyz</label></li>
        <li><label><input name="q1" type="radio">zyx</label></li>
        <li><label><input name="q1" type="radio">kajak</label></li>
      </ol>
    </li>
  </ul>
  <button disabled>Wyślij</button>
</div>
</body>
</html>
